.title {
    pointer-events: none;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:7vh;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.avatar {
    border-radius: 50%;
    max-width: 100%;
    height: 220px;
    width: 220px;
    margin-bottom: 1rem;
    border: 3px solid#5677E4;
}