.card-container {
    margin-top:50px;
    position: static;
    display: block;
    pointer-events: none;
    width: 100%;
    padding: 0.1px;
}

.info-card{
    position: relative;
    text-align: center;
    color: white;
    pointer-events: none;
    z-index: 2;
}