.typewriter { 
    padding-top: 2rem; 
    padding-bottom: 1.0rem;
    margin: auto 0;
    font-weight:normal;
    font-family: 'Special Elite', cursive;
    font-size:3.155844155844156vh
}

.tw-div {
    pointer-events: none;
}

.tw-span {
    color: white;
    font-weight: bold;
}