.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    margin: 0;
}

.title:hover {
    transform: scale(1.02);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    background-color: #191919;
    font-size: 10vw;
    animation: glow 3s 2s linear infinite ;
    transition-delay: 0.05s;

    @keyframes glow {
        50% {
            text-shadow: 0 0 20px #fff;
        }
    }
}
