.project-card{
  height:auto;
  width:400px;
  padding:20px;
  text-align: center;
  margin:20px;
  background-color: #ffffff;
  box-shadow:0px 5px 10px #f2f2f2;
  border-radius:8px;
}

.project-desc {
  color:#333333;
  line-height:1.6;
}

.project-title {
  font-weight:500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-image {
  width:350px;
  height:inherit;
  border-radius:5px;
}

a{
  text-decoration: none;
  color:#1d1d1d;
}