/* Navbar styles */
.navbar-div {
  background: #232323;
  height: 60px;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: inherit;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
}

/*Title styles */
.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 35px;
  opacity: 0.9;
  padding: 0 20px;
}

/* Title animations */
@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-3px);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }
}

.title:hover {
  color:  white;
}

.title:hover>div:first-child {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.11s;
}

.title:hover>div:nth-child(2) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.22s;
}

.title:hover>div:nth-child(3) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.33s;
}

.title:hover>div:nth-child(4) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.44s;
}

.title:hover>div:nth-child(5) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.55s;
}

.title:hover>div:nth-child(6) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.66s;
}

.title:hover>div:nth-child(7) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.77s;
}

.title:hover>div:nth-child(8) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.88s;
}


.title:hover>div:nth-child(9) {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-delay: 0.99s;
}

.title>div {
  display: inline-block;
}

/* Nav link styles */

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  opacity: 0.9;
}

.nav-links:hover {
  color: rgb(109, 131, 242);
  text-decoration: none;
}

.active-link {
  color:rgb(109, 131, 242);
}

/* Icon design when mobile view */
.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

/* Responsive style */
@media screen and (min-width: 850px) and (max-width: 1050px) {
  .nav-item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 850px) {
  .fa-caret-down {
    display: none;
  }

  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 60px;
    left: -100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 1rem;
  }

  .nav-menu.active {
    background-color: #242222;
    background-color: #0a183d;
    left: 0;
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 150;
  }

  .nav-item {
    height: auto;
    margin: 16px 5px
  }

  .nav-links {
    text-align: center;
    width: 55%;
    margin-left: 22%;
    font-size: 1.5rem;
  }

  .nav-links:hover {
    background-color: #125181;
    border-radius: 15px;
    color: white;
  }

  .navbar-div {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}