.footer {
    height: 70px;
    width: 100%;
    bottom: 0;
    display:flex;
    align-items:center;
    position: absolute;
    justify-content: center;
    z-index:3;
    text-align:center;
    text-decoration: none;
    color: white;
    background-color: #232323;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    margin: 0;
}